.card {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1.5rem;
	border-radius: var(--border-radius);
	background-color: var(--secondary-background-color);
	box-shadow: var(--box-shadow)
}

.card:hover, .card:focus-within {
	outline: none;
}

@media not (pointer: none) {
	.card:hover, .card:focus-within {
		transform: translateY(-2%);
	}
}

.card:has(.card__link:focus-visible) {
	transition: var(--transition), outline-offset 0s, outline 0s;
	outline: 3px solid rgba(var(--primary-color-rgb), 0.5);
	outline-offset: 4px;
	-moz-outline-radius: var(--border-radius);
}

.card__title {
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

.card__description {
	margin: 0.5em 0 0;
}

.card__link {
	color: var(--text-color);
	-webkit-tap-highlight-color: transparent;
}

.card__link:focus-visible {
	outline: none;
}

.card__link::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	border-radius: 1rem;
}

