.auth-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.6rem;

	& :is(button, a) {
		font-family: 'DaysOne', sans-serif;
		margin: 0;
		padding: 0;
		color: var(--text-color);
		border: none;
		border-radius: var(--border-radius);
	}
}

