.menu__button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

#menu-button {
	position: relative;
	width: 2rem;
}

#menu-button:focus-visible {
	outline: none;
}

#menu-button:focus-visible svg {
	transition: var(--transition), outline-offset 0s, outline 0s;
	outline: 3px solid rgba(var(--primary-color-rgb), 0.5);
	outline-offset: 0;
}


.menu__button svg {
	position: absolute;
	right: -0.5rem;
	width: 3rem;
	height: 3rem;
	border-radius: var(--border-radius);
	stroke-linecap: round;
}

.menu__button svg rect {
	fill: var(--primary-color);
}

.menu__button svg * {
	transition-duration: 0.2s;
}

[aria-expanded='true'] #menu__rect-1 {
	transform: translate(-3px, 20.5px) rotate(-45deg);
}

[aria-expanded='true'] #menu__rect-2 {
	opacity: 0;
}

[aria-expanded='true'] #menu__rect-3 {
	transform: translate(20px, -10.5px) rotate(45deg);
}


.menu__popup {
	position: absolute;
	z-index: 1;
	top: var(--header-height);
	right: max(calc(50% - var(--max-page-width) / 2 - 1rem), 0px);
	width: 100vw;
	height: calc(var(--vh) - var(--header-height));
	margin: 0;
	padding: 0;
	transition: var(--transition), transform 0.25s linear, opacity 0.25s linear;
	transform: translateY(3rem);
	opacity: 0;
	background-color: var(--secondary-background-color);
}

.menu__popup.in.expanded {
	transform: translateY(0);
	opacity: 1;
}

.menu__popup-content {
	display: grid;
	justify-content: start;
	padding: 0 var(--sides-padding) var(--sides-padding);
	gap: 1rem;
}

.menu__popup .nav__list {
	font-family: 'DaysOne', sans-serif;
	display: grid;
	max-width: 100%;
	padding: 0.2rem 0.5rem;
}

