.radio-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	gap: .5em;
}

.radio__option-container {
	padding-left: 1.3em;
	cursor: pointer;
}

.radio__option {
	position: absolute;
	top: 50%;
	left: 0;
	width: 1em;
	height: 1em;
	transform: translateY(-50%);
	border: .1em solid var(--primary-color);
	border-radius: 50%;
}

.radio__input:checked + .radio__option--marker {
	position: absolute;
	top: 50%;
	left: .25em;
	width: .5em;
	height: .5em;
	transform: translateY(-50%);
	border-radius: 50%;
	background: var(--primary-color);
}

.radio__input:focus-visible + .radio__option--marker {
	border-radius: var(--border-radius);
	outline: 3px solid var(--primary-color-50);
	outline-offset: calc(3px + .25em);
}
