.theme-switcher {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border: 0.1rem solid var(--text-color);
	border-radius: 1.5rem;
	padding: 0.1rem;
	gap: 0.2rem;

	& button {
		margin: 0;
		padding: 0.2rem 1rem;
		color: var(--text-color);
		border: none;
		border-radius: 1.5rem;
		background-color: transparent;
		outline-offset: -0.1rem;

		&[aria-pressed=true] {
			outline-offset: 0.1rem;
			color: var(--background-color);
		}

		&[aria-pressed=false]:hover {
			background-color: rgba(var(--primary-color-rgb), 0.3)
		}
	}

	& .theme-switcher__selected {
		position: absolute;
		z-index: -1;
		width: calc(33% - 0.1rem);
		transition: transform .2s;
		transform: translateX(0);
		pointer-events: none;
		border-radius: 1.5rem;
		background-color: var(--text-color);
		inset: 2px;
		margin-inline: auto;
	}

	& [aria-pressed=true][value=light] ~ .theme-switcher__selected {
		transform: translateX(calc(-100% - 0.15rem));
	}

	& [aria-pressed=true][value=dark] ~ .theme-switcher__selected {
		transform: translateX(calc(100% + 0.15rem));
	}
}
