@import 'ArticleCard.css';
@import '../common/textarea.css';

.buttons-container {
	display: flex;
	justify-content: end;
	width: fit-content;
	gap: 1rem;
}

.article-edit, .news-edit {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.article-edit article {
	overflow: auto;
	height: calc(var(--vh) - 7rem - 36px);
}

.article-editor, .news-editor {
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	overflow: auto;
	width: 100%;
	margin: 0;
	padding: 1rem;
	resize: none;
	white-space: pre;
}

.article-editor {
	height: calc(var(--vh) - 7rem - 2 * var(--sides-padding));
}

.news-editor {
	height: calc(var(--vh) - 10rem - 2 * var(--sides-padding));
}

.article-editor--hidden {
	display: none;
}

.article-meta--wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
}

.article-meta {
	width: fit-content;
}

.article-meta[open] {
	width: 100%;
}

.article-meta[open] + .buttons-container {
	width: 100%;
}

.article-meta summary {
	width: fit-content;
	padding: 0.25rem 0;
	border-radius: var(--border-radius);
}

.article-meta__settings {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.news-edit .grid input {
	margin: 0;
}

.news-edit .buttons-container {
	width: 100%;
}

