:root {
	--white-color: hsl(230, 100%, 99%);
	--black-color: hsl(0, 0%, 14%);
	--disabled-dark-color: #9B9B9B;
	--disabled-light-color: #EFEFEF20;
	--gray-color: #B6B6B6;
	--error-color: #FF4D4F;
	--border-radius: 0.4rem;
	--overlay-color: #22222280;
	--box-shadow: 0px 2px 10px rgba(3, 82, 86, 0.5);
	--header-height: 4rem;
	--vh: 100vh;
	--sides-padding: 1rem;
	--transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), color 0s;
	--max-page-width: 50rem;
}

@supports (height: 100dvh) {
	:root {
		--vh: 100dvh;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--white-color);
		--background-color: var(--black-color);
		--secondary-background-color: hsl(0, 1%, 37%);
		--primary-color-rgb: 95, 229, 241;
		--primary-color: #72E8F3;
		--dynamic-gray-color: #B6B6B6;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: var(--black-color);
		--background-color: white;
		--secondary-background-color: var(--white-color);
		--primary-color-rgb: 16, 119, 128;
		--primary-color: #107780;
		--dynamic-gray-color: #696969;
	}
}

.dark {
	--text-color: var(--white-color);
	--background-color: var(--black-color);
	--secondary-background-color: hsl(0, 1%, 37%);
	--primary-color-rgb: 95, 229, 241;
	--primary-color: #72E8F3;
	--dynamic-gray-color: #B6B6B6;
}

.light {
	--text-color: var(--black-color);
	--background-color: white;
	--secondary-background-color: var(--white-color);
	--primary-color-rgb: 16, 119, 128;
	--primary-color: #107780;
	--dynamic-gray-color: #696969;
}
