.check__input:focus, .check__input:active, .check__input:hover,
.radio__input:focus, .radio__input:active, .radio__input:hover {
	border: none;
	outline: none;
}

/* Check */

.check {
	line-height: 1;
	display: inline-block;
	width: fit-content;
	margin-bottom: 1em;
	padding-left: 1.3em;
	cursor: pointer;
}

.check__input, .radio__input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check__input:focus-visible + .check__box {
	border-radius: var(--border-radius);
	outline: 3px solid rgba(var(--primary-color-rgb), 0.5);
	outline-offset: 2px;
}

.check__box {
	position: absolute;
	width: 1em;
	height: 1em;
	margin-left: -1.3em;
	border: .1em solid var(--primary-color);
	border-radius: var(--border-radius);
}


.check__square {
	fill: var(--background-color);
	stroke: var(--primary-color);
	stroke-width: 0.1rem;
}

.check__mark {
	fill: none;
	stroke: var(--background-color);
	stroke-width: .15rem;
}

/* Checked */

.check__input:checked + .check__box {
	background-color: var(--primary-color);
}

/* Disabled */

.check__input:disabled + .check__box {
	border-color: var(--disabled-dark-color);
}

.check__input:checked:disabled + .check__box {
	background-color: var(--disabled-dark-color);
}
