.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 62rem;
	margin: 0 auto;
}

.users__table {
	width: 100%;
}

.users__table th:not(:empty), td:not(:empty) {
	padding: 0.5em;
}

.users__table th:not(:empty) {
	background: rgba(255, 255, 255, 0.05)
}

.users__table tr:nth-child(odd) {
	background-color: transparent
}

.users__table tbody tr:not(:empty):first-child {
	border-top: none;
}

.users__table tr, .users__table thead {
	border-bottom: 0.5px solid #696969;
}

.rounded-container {
	min-height: 30vh;
	border-radius: 2rem;
	background-color: var(--secondary-background-color);
	box-shadow: 0 2px 10px 0 #ECEDED;
}

.table__wrapper {
	border-radius: 2rem;
}

.users__table button {
	font-size: .85rem;
}

